version: '3.7'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "8081:8081"
    environment:
      - APP_ENV=DEV
      - APP_VERSION=0.1
      - APP_URL=http://localhost:8081
      - APP_ID=transaction-service

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_APP_ENV=staging
        - NEXT_PUBLIC_BE_API_URL=http://localhost:8081
    container_name: frontend
    restart: always
    ports:
      - "80:80" 
    depends_on:
      - backend

