.tableCell {
    padding: 16px 20px;
    color: #334155;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;
}

.tableCell.align-left {
    text-align: left;
}

.tableCell.align-center {
    text-align: center;
}

.tableCell.align-right {
    text-align: right;
}

/* Responsive */
@media (max-width: 768px) {
    .tableCell {
        padding: 12px 16px;
        font-size: 13px;
    }
}