.spinner {
    display: inline-block;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-right-color: white;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.sm {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.md {
    width: 20px;
    height: 20px;
    border-width: 3px;
}

.lg {
    width: 24px;
    height: 24px;
    border-width: 3px;
}